
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model SeaTrack.Lib.DTO.Admin.UserInfoDTO

<div class="row" ng-app="App" ng-controller="Controller" ng-init="UserID('@Model.UserID')">

        <div >
            <div class="card">
                <div class="card-header">
                    <strong>Thông Tin Admin </strong>
                </div>
@using (Html.BeginForm("EditUser","HomeAdmin"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="card-body card-block">
                        <div class="row form-group">
                            <div class="col col-md-3"><label class="form-control-label">Username</label></div>
                            <div class="col-12 col-md-9">
                                @Html.HiddenFor(m => m.UserID)
                                @Html.DisplayFor(m => m.Username, new { @class = "form-control-static" })
                                @*<p class="form-control-static">@Model.Username</p>*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Password</label></div>
                            <div class="col-12 col-md-9">@Html.PasswordFor(model => model.Password, new { @value = @Model.Password, @required = "required", @class = "form-control", placeholder = "Text" })</div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Họ tên</label></div>
                            <div class="col-12 col-md-9">@Html.TextBoxFor(model => model.Fullname, new { @value = @Model.Fullname, @required = "required", @class = "form-control", placeholder = "Họ tên" })</div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Số điện thoại</label></div>
                            <div class="col-12 col-md-9">@Html.TextBoxFor(model => model.Phone, new { @value = @Model.Phone, @required = "required", @class = "form-control", placeholder = "Số điện thoại" })</div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Địa chỉ</label></div>
                            <div class="col-12 col-md-9">@Html.TextBoxFor(model => model.Address, new { @value = @Model.Address, @required = "required", @class = "form-control", placeholder = "Số điện thoại" })</div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label class="form-control-label">Quyền tài khoản</label></div>
                            <div class="col col-md-9">
                                <div class="form-check-inline form-check">
                                    <label for="inline-radio1" class="form-check-label">
                                        @Html.RadioButtonFor(model => model.RoleID, 2, Model.RoleID == 2 ? new { @checked = "checked", @id = "inline-radio1", @class = "form-check-input" } : null) Đại lý
                                        @*<input ng-checked="@Model.RoleID==2" type="radio" id="inline-radio1" name="inline-radios" value="2" class="form-check-input">Đại lý*@
                                    </label>
                                    <label for="inline-radio2" class="form-check-label">
                                        @Html.RadioButtonFor(model => model.RoleID, 3, Model.RoleID == 3 ? new { @checked = "checked", @id = "inline-radio2", @class = "form-check-input" } : null) Khách hàng
                                        @*<input ng-checked="@Model.RoleID==3" type="radio" id="inline-radio2" name="inline-radios" value="3" class="form-check-input">Khách hàng*@
                                    </label>
                                    <label for="inline-radio3" class="form-check-label ">
                                        @Html.RadioButtonFor(model => model.RoleID, 4, Model.RoleID == 4 ? new { @checked = "checked", @id = "inline-radio3", @class = "form-check-input" } : null) Người dùng
                                        @*<input ng-checked="@Model.RoleID==4" type="radio" id="inline-radio3" name="inline-radios" value="4" class="form-check-input">Người dùng*@
                                    </label>
                                </div>
                            </div>
                        </div>
                    @*<input type="submit" value="Submit" />*@
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>

                </div>
                @*<div class="card-footer">
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>*@

}


            </div>
        </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i><strong class="card-title pl-2">Hình Đại Diện</strong>
            </div>
            <div class="card-body">
                <div class="mx-auto d-block">
                    <img class="rounded-circle mx-auto d-block" src="~/images/admin.jpg" alt="Card image cap">
                    <h5 class="text-sm-center mt-2 mb-1">Steven Lee</h5>
                    <div class="location text-sm-center"><i class="fa fa-map-marker"></i> California, United States</div>
                </div>
                <hr>
                <div class="card-text text-sm-center">
                    <input type="file" class="btn btn-warning" />
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Danh Sách Thiết Bị</strong>
                    <button ng-click="AddDevice(id)" class="btn btn-info" data-target="#AddNew" data-toggle="modal"><i class="fa fa plus"></i></button>
                </div>
                <div class="card-body">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên thiết bị</th>

                                <th scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in Devices">
                                <th>{{$index + 1}}</th>
                                <td>{{d.DeviceName}}</td>
                                <td align="center">
                                    <a ng-click="RemoveDeviceFromUser(id, d.DeviceID)"><i class="fa fa-remove">edit</i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal" id="AddNew" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-info">Danh sách thiết bị</h3>
                        <button type="button" class="close" data-dismiss="modal" style="text-align:left" ng-click="LoadDevice(id)">x</button>
                    </div>
                    <div class="modal-body" style="margin-left:20px">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên thiết bị</th>

                                    <th scope="col">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dv in DevicesNotUsed">
                                    <th>{{$index + 1}}</th>
                                    <td>{{dv.DeviceName}}</td>
                                    <td align="center">
                                        <a ng-click="AddDeviceToUser(id, dv.DeviceID)"><i class="fa fa-remove">edit</i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="LoadDevice(id)">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/Areas/Admin/AngularJS/Admin/UserDetailApp.js"></script>
<script src="vendors/jquery/dist/jquery.min.js"></script>
<script src="vendors/popper.js/dist/umd/popper.min.js"></script>
<script src="vendors/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="vendors/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/js/main.js"></script>